/* PHASE 1: Header */
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: bold;
}

.header {
  display: flex;

  background-color: red;

  height: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 5%;
}

.menu {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

.logo:hover, .menu li:hover {
  background-color: black;
}

.logo, .menu li {
  display: flex;
    
  align-items: center;
  
  padding: 0 15px;
  height: 50px;
}


.logo,
.menu li:first-child,
.menu li:last-child {
  border-left: 1px solid white;
  border-right: 1px solid white;
}